/* For desktop: */
.title-header{
    text-align: center;
    padding-bottom: 10px;
}
.main-container {
    display: flex;
    flex-direction: row;
    background-color: #EFEFEF;
}
.flex-container {
    display: flex;
    height: 600px;
    width: 75%;
    flex-wrap: wrap;
    font-size: 70px;
    font-family: sans-serif;
}

.flex-container > div {
    width: 33.3%;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
    padding-top: 6%;
}
.flex-container > div:nth-child(1), .flex-container > div:nth-child(8) {
    background-color: #6F98A8;
}
.flex-container > div:nth-child(2), .flex-container > div:nth-child(4) {
    background-color: #2B8EAD;
}
.flex-container > div:nth-child(6), .flex-container > div:nth-child(7) {
    background-color: #BFBFBF;
}
.flex-container > div:nth-child(3), .flex-container > div:nth-child(5),  .flex-container > div:nth-child(9){
    background-color: #2F454E;
}
.btn-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}
.title-label{
    text-align: center;
    padding-top: 10px;
    background-color: #EFEFEF;
    padding-bottom: 40px;
    font-style: italic;
}
.action-btn {
    width: 70%;
    margin-top: 20px;
    height: 30px;
    background-color: #72C3DC;
    color: #ffffff;
    border-radius: 10px;
}
 /* For mobile: */
@media only screen and (max-width: 768px) {
    .app-container {
        padding: 10px;
        background-color: black;
    }
    .title-header{
        padding-top: 10px;
        background-color: #333333;
        color: #ffffff;
    }
    .main-container {
        flex-wrap: wrap;
        background-color: #FFFFFF
    }
    .flex-container {
        order: 2;
        width: 100%;
        height: unset;
    }

    .flex-container > div {
        width: 100%;
        text-align: center;
        color: #000000;
        padding-top: 0;
        font-size: large;
        line-height: 35px;
        background-color: #EFEFEF !important;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .flex-container > div:nth-child(1), .flex-container > div:nth-child(8) {
        border-left: 7px solid #6F98A8;
    }
    .flex-container > div:nth-child(2), .flex-container > div:nth-child(4) {
        border-left: 7px solid #2B8EAD;
    }
    .flex-container > div:nth-child(6), .flex-container > div:nth-child(7) {
        border-left: 7px solid #BFBFBF;
    }
    .flex-container > div:nth-child(3), .flex-container > div:nth-child(5),  .flex-container > div:nth-child(9){
        border-left: 7px solid #2F454E;
    }
    .btn-container {
        order: 1;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .action-btn {
        width: 30%;
        margin-bottom: 20px;
    }
    .title-label{
    background-color: #ffffff;
}
}